<div class="row">
  <div class="span12 main-theme">
    <a href="{{themeMain.link_to_theme}}-{{themeMain.title.prettify()}}"><img ng-src="{{themeMain.image}}"></a>
    <div class="span3 main-theme-caption" ng-model="themeMain">
      <h3>{{themeMain.title}}</h3>
      <p>
        Some short description here about this awesome looking theme yaay!
      </p>
      <div>
        <div class="label">Author</div> <a href="{{themeMain.linkToAuthor}}">{{themeMain.author}}</a>
      </div>
      <div>
        <div class="label">Viewed</div> {{themeMain.view_cnt | number}}
      </div>
      <div>
        <div class="label">Downloaded</div> {{themeMain.download_cnt | number}}
      </div>
      <p>
        <div>
          <a href="{{themeMain.link_to_theme}}-{{themeMain.title.prettify()}}" class="btn btn-warning btn-small">View Theme</a>
        </div>
      </p>
    </div>
  </div> <!-- .span12 -->
</div> <!-- .row -->

<div class="row">
  <div class="span12">
    ADVERTISEMENT
  </div>
</div>

<div class="row">
  <div ng-repeat="theme in themesTop" class="span6 small-theme">
    <a href="{{theme.link_to_theme}}-{{theme.title.prettify()}}"><img ng-src="{{theme.image}}"></a>
    <div class="small-theme-caption">
      <h5>{{theme.title}}<span class="by-whom"> by <a href="{{theme.linkToAuthor}}">{{theme.author}}</a></span></h5>
    </div>
   </div>
</div>

<div class="row">
  <div class="span6">
    ADVERTISEMENT
  </div>
  <div class="span6">
    ADVERTISEMENT
  </div>
</div>

<div class="row">
  <div ng-repeat="theme in themesBottom" class="span6 small-theme">
    <a href="{{theme.link_to_theme}}-{{theme.title.prettify()}}"><img ng-src="{{theme.image}}"></a>
    <div class="small-theme-caption">
      <h5>{{theme.title}}<span class="by-whom"> by <a href="{{theme.linkToAuthor}}">{{theme.author}}</a></span></h5>
    </div>
   </div>
</div>

