<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title ng-bind-template="Yii Themes {{'- ' + pageTitle || ''}}"></title>
  <link rel="stylesheet" href="css/reset.css"/>
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/bootstrap-responsive.min.css"/>
  <link rel="stylesheet" href="css/bootswatch.css"/>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">YT 3.0</a>
        <div class="nav-collapse" id="main-menu">
          <ul class="nav" id="main-menu-left">
            <li><a href="#/home">home</a></li>
            <li><a href="#/themes">themes</a></li>
            <li><a href="#/layouts">layouts</a></li>
          </ul>
          <ul class="nav pull-right" id="main-menu-right">
            <li><a href="#/contact">contact</a></li>
            <li><a href="http://yiithemes.mehesz.net/user/user/login">login</a></li>
          </ul>
        </div>
      </div> <!-- .container -->
    </div> <!-- .navbar-inner -->
  </div> <!-- .navbar .navbar-fixed-top -->

  <div class="container">
    <div ng-view>loading ...</div>
    <hr>

    <footer id="footer">
      <p class="pull-right"><a href="#">Back to top</a></p>
      <div class="links">
        <a href="#">link #1</a>
        <a href="#">link #2</a>
        <a href="#">link #3</a>
      </div>
    </footer>

    <div class="label">v<span app-version></span></div>
  </div> <!-- .container -->


  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
  -->
  <script src="js/jquery.min.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
